.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #222;
  font-size: 1.6em;
  font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Ubuntu", sans-serif;
}

h1, h2 {
  font-weight: 700;
  z-index: 100;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.navbar-moodys {
    background-color: #41b6e6;
    border-style: none;
}

.navbar-moodys .navbar-brand {
    color: white;
}

.navbar-moodys .navbar-nav > li > a {
    color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
    color: #41b6e6 !important;
}

.pull-right {
    float: right;
}

/* .landing */

#main {
  margin-top: 50px;
}

.header-wrap {
  height: 100vh;
}

.video-bg {
  overflow: hidden;
  position: absolute;
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.video-bg video {
  display: none;
  opacity: .7;
}

.landing {
  position: relative;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing #logo {
  color: #fff;
  width: 16em;
  text-align: center;
  line-height: 70px;
  letter-spacing: 10px;
  margin-top: 1.5em;
  -webkit-animation: load-popup 2.25s ease-out 0s 1;
          animation: load-popup 2.25s ease-out 0s 1;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    height: 768px;
    width: 100%;
  }

  .video-bg {
    height: auto;
    width: 100vw;
    overflow: hidden;
  }
  .video-bg video {
    display: block;
    width: 1280px   !important;
    height: auto   !important;
  }

  .landing {
    height: 100%;
  }
  .landing #logo {
    width: 20em;
    margin-top: 7.75em;
  }
  .landing h1 {
    font-size: 36px;
    font-size: 3.6rem;
    margin-bottom: .75em;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrap {
    height: 100vh;
  }

  .video-bg {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .video-bg video {
    display: block;
    width: 100%  !important;
    height: auto   !important;
  }

  .landing {
    height: 100%;
  }
  .landing #logo {
    width: 24em;
    margin-top: 3em;
    padding-top: 3em;
  }
  .landing h1 {
    font-size: 42px;
    font-size: 4.2rem;
    margin-bottom: .75em;
  }
}

@media screen and (min-width: 1600px) {
  .video-bg video {
    width: 100%   !important;
    height: auto   !important;
  }
}




/* Animations */

@-webkit-keyframes load-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  95% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes load-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  95% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes load-spin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes load-spin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes load-popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes load-popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*Get involved styles*/
.universalFont {
	font-family: Arial, Helvetica, sans-serif;
}

.sectionHeader {
	color: white;
	text-align: center;
}

.subSectionHeader {
	color: white;
	text-align: center;
}

.subSectionParagraph {
	color: white;
}

#get-involved {
	background: #4c4c4c;
	padding-top: 10px;
	padding-bottom: 20px;
  margin-top:20px;
}

.hackerRankSection {
	align-content: center;
	background: #2EC866;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}

.meetUpSection {
	align-content: center;
	background: #ED1C40;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}

.hackerRankButton {
	background: #208c47;
	border: 1px solid white;
	color: white;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.hackerRankButton:hover {
	background: #1b783d;
}

.hackerRankButton:active{
	background: #176433;
}

.meetUpButton {
	background: #a5132c;
	border: 1px solid white;
	color: white;
	padding: 10px;
	margin-bottom: 10px;
}

.meetUpButton:hover {
	background: #8e1026;
}

.meetUpButton:active{
	background: #760e20;
}

.meetUpSectionBlock{
	margin-top:20px;
	width:300px;
	height:300px;
	border-width: 0px;
	display: inline-block;
}

.blockText {
	color: white;
	text-align: left;
}

.blockLink {
	color: white;
	text-align: right;
	margin-top:130px;
}

.blockSpan {
	text-align: left;
}